/* color palette from <https://github.com/vuejs/theme> */
/* :root {
  --vt-c-white: #ffffff;
  --vt-c-indigo: #2c3e50;
}

:root {
  --color-background: var(--vt-c-white);
  --color-text: var(--vt-c-indigo);
} */

body {
  min-height: 100vh;
  /* color: var(--color-text);
  background: var(--color-background); */
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
html{
  font-size: 62.5%;
  outline: none;
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100vw;
}

*:focus {
  outline: none;
  }

/* .light-theme{
  color:rgb(39, 39, 39);
  background-color: rgba(250,250,250);
}
.dark-theme{
  color:rgba(250,250,250);
  background-color: rgb(39, 39, 39);
} */
